<?xml version="1.0" ?>
<robot name="xarm7_faraday" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find xarm7_faraday_description)/urdf/materials.xacro" />
<xacro:include filename="$(find xarm7_faraday_description)/urdf/xarm7_faraday.trans" />
<xacro:include filename="$(find xarm7_faraday_description)/urdf/xarm7_faraday.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.028859516429899673 -0.004297489013704758 0.0902487504913306" rpy="0 0 0"/>
    <mass value="8.777146772998485"/>
    <inertia ixx="0.022843" iyy="0.022702" izz="0.010823" ixy="1.3e-05" iyz="-0.000116" ixz="1.1e-05"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="XS1305_P02_1">
  <inertial>
    <origin xyz="-0.0016056286804409618 2.527865209777519e-08 0.08423895578775431" rpy="0 0 0"/>
    <mass value="10.151310911920142"/>
    <inertia ixx="0.026865" iyy="0.029316" izz="0.014423" ixy="0.0" iyz="5e-06" ixz="0.001456"/>
  </inertial>
  <visual>
    <origin xyz="0.028885 0.004022 -0.168008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P02_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.028885 0.004022 -0.168008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P02_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="XS1305_P03_1">
  <inertial>
    <origin xyz="0.012081281495073606 4.983678306387691e-06 0.08478971124405155" rpy="0 0 0"/>
    <mass value="12.766711823205018"/>
    <inertia ixx="0.049424" iyy="0.068571" izz="0.032511" ixy="5e-06" iyz="-1e-06" ixz="-0.020741"/>
  </inertial>
  <visual>
    <origin xyz="0.087885 0.004022 -0.284008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P03_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.087885 0.004022 -0.284008" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P03_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="XS1305_P04_1">
  <inertial>
    <origin xyz="-0.005559707309630055 0.02905980383096427 0.07911522543564353" rpy="0 0 0"/>
    <mass value="9.001932193648036"/>
    <inertia ixx="0.024925" iyy="0.021529" izz="0.01651" ixy="-5.2e-05" iyz="-0.007562" ixz="0.000611"/>
  </inertial>
  <visual>
    <origin xyz="0.028585 0.004022 -0.466838" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P04_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.028585 0.004022 -0.466838" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P04_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="XS1305_P05_1">
  <inertial>
    <origin xyz="-0.004244328219929677 0.057141271717215905 -0.07154154805645863" rpy="0 0 0"/>
    <mass value="12.061248905695258"/>
    <inertia ixx="0.048535" iyy="0.050743" izz="0.038688" ixy="0.008601" iyz="0.015716" ixz="-0.014908"/>
  </inertial>
  <visual>
    <origin xyz="-0.017465 -0.048401 -0.576819" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P05_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.017465 -0.048401 -0.576819" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P05_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="XS1305_P06_1">
  <inertial>
    <origin xyz="0.030901305921759634 -5.9517141215437164e-08 -0.10125095641871784" rpy="0 0 0"/>
    <mass value="6.616778972633551"/>
    <inertia ixx="0.03568" iyy="0.039557" izz="0.009354" ixy="0.0" iyz="-0.0" ixz="0.009136"/>
  </inertial>
  <visual>
    <origin xyz="0.028835 -0.126146 -0.414473" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P06_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.028835 -0.126146 -0.414473" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P06_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="XS1305_P07_1">
  <inertial>
    <origin xyz="-0.022464706612630024 0.009345866026051614 0.045993799841475" rpy="0 0 0"/>
    <mass value="6.496105208150085"/>
    <inertia ixx="0.015325" iyy="0.013841" izz="0.007492" ixy="-0.000519" iyz="-0.00182" ixz="-0.002173"/>
  </inertial>
  <visual>
    <origin xyz="0.016735 -0.126146 -0.232773" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P07_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.016735 -0.126146 -0.232773" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P07_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="XS1305_P08_1">
  <inertial>
    <origin xyz="-0.0015136321555742002 0.015618760777654006 0.0009761117032152655" rpy="0 0 0"/>
    <mass value="1.0888616581201747"/>
    <inertia ixx="0.000484" iyy="0.000854" izz="0.000521" ixy="-2e-06" iyz="1e-06" ixz="4e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.030735 -0.193396 -0.308673" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P08_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.030735 -0.193396 -0.308673" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/XS1305_P08_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Gripper_G2_3D_File_1">
  <inertial>
    <origin xyz="0.00038971773251515046 0.064195066312939 0.00025046536652290063" rpy="0 0 0"/>
    <mass value="3.0228076769453907"/>
    <inertia ixx="0.005506" iyy="0.002853" izz="0.0073" ixy="2.7e-05" iyz="-8e-06" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.030735 -0.220396 -0.308673" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/Gripper_G2_3D_File_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.030735 -0.220396 -0.308673" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xarm7_faraday_description/meshes/Gripper_G2_3D_File_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 1" type="continuous">
  <origin xyz="-0.028885 -0.004022 0.168008" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="XS1305_P02_1"/>
  <axis xyz="0.0 0.0 1.0"/>
</joint>

<joint name="Revolute 2" type="revolute">
  <origin xyz="-0.059 0.0 0.116" rpy="0 0 0"/>
  <parent link="XS1305_P02_1"/>
  <child link="XS1305_P03_1"/>
  <axis xyz="-1.0 0.0 -0.0"/>
  <limit upper="1.745329" lower="-1.745329" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 3" type="continuous">
  <origin xyz="0.0593 0.0 0.18283" rpy="0 0 0"/>
  <parent link="XS1305_P03_1"/>
  <child link="XS1305_P04_1"/>
  <axis xyz="-0.0 -0.0 1.0"/>
</joint>

<joint name="Revolute 4" type="revolute">
  <origin xyz="0.04605 0.052423 0.109981" rpy="0 0 0"/>
  <parent link="XS1305_P04_1"/>
  <child link="XS1305_P05_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <limit upper="3.665191" lower="0.0" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 5" type="continuous">
  <origin xyz="-0.0463 0.077745 -0.162346" rpy="0 0 0"/>
  <parent link="XS1305_P05_1"/>
  <child link="XS1305_P06_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
</joint>

<joint name="Revolute 6" type="revolute">
  <origin xyz="0.0121 0.0 -0.1817" rpy="0 0 0"/>
  <parent link="XS1305_P06_1"/>
  <child link="XS1305_P07_1"/>
  <axis xyz="-1.0 -0.0 0.0"/>
  <limit upper="4.712389" lower="0.0" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 7" type="continuous">
  <origin xyz="-0.014 0.06725 0.0759" rpy="0 0 0"/>
  <parent link="XS1305_P07_1"/>
  <child link="XS1305_P08_1"/>
  <axis xyz="-0.0 1.0 -0.0"/>
</joint>

<joint name="Rigid 8" type="fixed">
  <origin xyz="0.0 0.027 0.0" rpy="0 0 0"/>
  <parent link="XS1305_P08_1"/>
  <child link="Gripper_G2_3D_File_1"/>
</joint>

</robot>
