<?xml version="1.0" ?>
<robot name="xArm7_Faraday_with_Gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find xArm7_Faraday_with_Gripper_description)/urdf/materials.xacro" />
<xacro:include filename="$(find xArm7_Faraday_with_Gripper_description)/urdf/xArm7_Faraday_with_Gripper.trans" />
<xacro:include filename="$(find xArm7_Faraday_with_Gripper_description)/urdf/xArm7_Faraday_with_Gripper.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.0843343990495026 0.06159898765754373 0.14807761937506092" rpy="0 0 0"/>
    <mass value="9.168237047321028"/>
    <inertia ixx="0.024997" iyy="0.011699" izz="0.025446" ixy="0.000525" iyz="-0.00026" ixz="0.000277"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="J2_1">
  <inertial>
    <origin xyz="0.007329303381552854 0.08508747136628392 0.001006608539418169" rpy="0 0 0"/>
    <mass value="10.406176803034887"/>
    <inertia ixx="0.025477" iyy="0.017209" izz="0.030609" ixy="-0.003216" iyz="-0.000406" ixz="-0.000586"/>
  </inertial>
  <visual>
    <origin xyz="-0.083099 -0.142851 -0.148686" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.083099 -0.142851 -0.148686" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="J3_1">
  <inertial>
    <origin xyz="-0.03869505904654337 0.025737778683465717 0.0894872501008809" rpy="0 0 0"/>
    <mass value="12.518938673895388"/>
    <inertia ixx="0.039635" iyy="0.06082" izz="0.038697" ixy="0.005723" iyz="-0.00719" ixz="0.018455"/>
  </inertial>
  <visual>
    <origin xyz="-0.157922 -0.254851 -0.157111" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.157922 -0.254851 -0.157111" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="J4_1">
  <inertial>
    <origin xyz="0.009384348655303243 0.046325078718081114 0.07026322376646943" rpy="0 0 0"/>
    <mass value="8.93975815577092"/>
    <inertia ixx="0.020678" iyy="0.02145" izz="0.020703" ixy="-0.000856" iyz="-0.005343" ixz="-0.004334"/>
  </inertial>
  <visual>
    <origin xyz="-0.063029 -0.305876 -0.33279" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.063029 -0.305876 -0.33279" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="J5_1">
  <inertial>
    <origin xyz="-0.06218766689408073 0.0037965827600336954 0.08662371180514633" rpy="0 0 0"/>
    <mass value="10.369675507575852"/>
    <inertia ixx="0.031687" iyy="0.04476" izz="0.033648" ixy="0.0079" iyz="-0.005764" ixz="0.014851"/>
  </inertial>
  <visual>
    <origin xyz="-0.137335 -0.334516 -0.438348" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.137335 -0.334516 -0.438348" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="J6_1">
  <inertial>
    <origin xyz="0.03244360520270121 0.04446258592440583 0.09185329246083707" rpy="0 0 0"/>
    <mass value="6.198329134949828"/>
    <inertia ixx="0.030968" iyy="0.029505" izz="0.012961" ixy="-0.003221" iyz="-0.010123" ixz="-0.006246"/>
  </inertial>
  <visual>
    <origin xyz="-0.036614 -0.384421 -0.601399" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J6_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.036614 -0.384421 -0.601399" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J6_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="J7_1">
  <inertial>
    <origin xyz="-0.008544826753255602 -0.01630985052779721 0.048621244486503956" rpy="0 0 0"/>
    <mass value="5.675194243574739"/>
    <inertia ixx="0.012629" iyy="0.011856" izz="0.006626" ixy="0.000806" iyz="0.000912" ixz="-0.002671"/>
  </inertial>
  <visual>
    <origin xyz="-0.041924 -0.453159 -0.76014" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J7_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.041924 -0.453159 -0.76014" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/J7_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Tool_head_1">
  <inertial>
    <origin xyz="-0.0002849774884423062 0.011712719996090692 0.00599751306435492" rpy="0 0 0"/>
    <mass value="0.9325349660026085"/>
    <inertia ixx="0.000408" iyy="0.000624" izz="0.000478" ixy="-2.7e-05" iyz="0.000127" ixz="9e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.040798 -0.473751 -0.86064" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/Tool_head_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.040798 -0.473751 -0.86064" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/Tool_head_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Gripper_G1_3D_File__With__1">
  <inertial>
    <origin xyz="-0.00516908880658383 0.05442988394416487 0.03221259137240928" rpy="0 0 0"/>
    <mass value="2.6976039760582937"/>
    <inertia ixx="0.005521" iyy="0.003222" izz="0.004702" ixy="0.000595" iyz="-0.001476" ixz="-0.000515"/>
  </inertial>
  <visual>
    <origin xyz="-0.038558 -0.497771 -0.874854" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/Gripper_G1_3D_File__With__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.038558 -0.497771 -0.874854" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://xArm7_Faraday_with_Gripper_description/meshes/Gripper_G1_3D_File__With__1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 1" type="continuous">
  <origin xyz="0.083099 0.142851 0.148686" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="J2_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Revolute 2" type="revolute">
  <origin xyz="0.074823 0.112 0.008425" rpy="0 0 0"/>
  <parent link="J2_1"/>
  <child link="J3_1"/>
  <axis xyz="0.994229 0.0 0.107275"/>
  <limit upper="1.745329" lower="-1.745329" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 3" type="continuous">
  <origin xyz="-0.094893 0.051025 0.175679" rpy="0 0 0"/>
  <parent link="J3_1"/>
  <child link="J4_1"/>
  <axis xyz="-0.103411 0.26598 0.958416"/>
</joint>

<joint name="Revolute 4" type="revolute">
  <origin xyz="0.074306 0.02864 0.105558" rpy="0 0 0"/>
  <parent link="J4_1"/>
  <child link="J5_1"/>
  <axis xyz="0.779636 -0.576675 0.24416"/>
  <limit upper="3.403392" lower="0.610865" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 5" type="continuous">
  <origin xyz="-0.100721 0.049905 0.163051" rpy="0 0 0"/>
  <parent link="J5_1"/>
  <child link="J6_1"/>
  <axis xyz="0.003484 0.393875 0.919157"/>
</joint>

<joint name="Revolute 6" type="revolute">
  <origin xyz="0.00531 0.068738 0.158741" rpy="0 0 0"/>
  <parent link="J6_1"/>
  <child link="J7_1"/>
  <axis xyz="-0.990241 -0.1267 0.058047"/>
  <limit upper="3.054326" lower="-0.174533" effort="100" velocity="100"/>
</joint>

<joint name="Revolute 7" type="continuous">
  <origin xyz="-0.001126 0.020592 0.1005" rpy="0 0 0"/>
  <parent link="J7_1"/>
  <child link="Tool_head_1"/>
  <axis xyz="-0.080007 0.857861 0.507616"/>
</joint>

<joint name="Rigid 8" type="fixed">
  <origin xyz="-0.00224 0.02402 0.014214" rpy="0 0 0"/>
  <parent link="Tool_head_1"/>
  <child link="Gripper_G1_3D_File__With__1"/>
</joint>

</robot>
